.vscode/*
__MACOSX\dataset_heads\*
__MACOSX/
*.ipynb_checkpoints/
._demographics.csv
data/boston_bikeshare.csv
data/boston_bikeshare.csv.zip
data/demographics.csv
data/mta.csv.zip
data/nyc_bikeshare.csv
data/nyc_bikeshare.csv.zip
data/nyc_green_taxi.csv.zip
data/nyc_rideshare.csv
data/nyc_rideshare.csv.zip
data/nyc_yellow_taxi.csv.zip
data/sf_bikeshare.csv
data/sf_bikeshare.csv.zip

=======
__MACOSX/*
.ipynb_checkpoints/*
.fseventsd/*
.Trashes/*
data/*
